* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cinza);
}

:root {
    --blue-background: #0cc0df;
    --primary-color: #0033a0;
    --secondary-color: #f7f7f7;
    --green-background: #00bfa6;
    --gray: #f4f4f4;
    --white: white;
    --light-gray: #5f5b5b;
    --black: black;
    --dark-gray: #333;
    --white-background: #fff;
}
